<!DOCTYPE html>
<html>
<head>
    <title>INSTAGE</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        button {
            margin: 5px;
            padding: 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <button onclick="window.location.href='/set_chore/AllBlack'">NERO</button>
    <button onclick="window.location.href='/set_chore/AllWhite'">BIANCO</button>
    <button onclick="window.location.href='/set_chore/AllStrobe'">AUTO MUSIC</button>
    <button onclick="window.location.href='/set_chore/A'">MIX A</button>
    <button onclick="window.location.href='/set_chore/B'">MIX B</button>
    <button onclick="window.location.href='/set_chore/C'">MIX C</button>
</body>
</html>
